@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

:root {
    --bg-color: #343447;
    --second-bg-color: #1d2b44;
    --header-color: #5046ac;
    --text-color: #fff;
    --main-color: #008b8b;
    --second-main-color: #008b8ba1;
}

*::selection {
    background: var(--main-color);
    color: var(--bg-color);
}

html {
    font-size: 70.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--second-bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
}

.navbar a {
    font-size: 2rem;
    color: var(--text-color);
    margin-left: 4rem;
    transition: .3s ease;
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}

.home {
    display: flex;
    justify-content: left;
    align-items: center;
}

.home-img img {
    width: 30vw;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
}

.home-content h3 {
    font-size: 5.2rem;
    font-weight: 500;
}

.home-content h1 {
    font-size: 3.2rem;
    font-weight: 43;
    line-height: 1.3;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 7rem;
    height: 7rem;
    background: transparent;
    border: .2rem solid var(--second-bg-color);
    border-radius: 50%;
    font-size: 5rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: .3s ease;
}

.social-media a:hover {
    background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}

.btn {
    display: inline-block;
    padding: 1rem 2.6rem;
    background: var(--main-color);
    border-radius: 2rem;
    font-size: 3rem;
    color: var(--second-bg-color);
    letter-spacing: .1rem;
    font-weight: 400;
    transition: .3s ease;
}

.btn:hover {
    background: var(--bg-color);
    color: var(--main-color);
    box-shadow: 0 0 1rem var(--main-color);
}

.skills {
    background: var(--second-bg-color);
}

.skills h2 {
    font-size: 5rem;
    display: flex;
    align-items: top;
    justify-content: center;
}

.LangAndTech-content {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    justify-content: center;
    align-items: center;
}

.Icon {
    font-size: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10rem;
    transition: transform 0.3s ease;
    color: var(--main-color);
}

.name {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    bottom: 2rem;
    transition: visibility 0s, opacity 0.3s ease;
    background-color: var(--main-color);
    color: var(--text-color);
    border-radius: 2rem;
    font-size: 2rem;
    padding: 1rem 1.5rem;
    white-space: nowrap;
}

.Icon:hover {
    transform: scale(1.5);
}

.Icon:hover .name {
    visibility: visible;
    opacity: 1;
}

.projects {
    background: var(--bg-color);
}

.projects h2 {
    margin-bottom: 4rem;
    font-size: 5rem;
    justify-content: center;
    text-align: center;
}

/* .projects-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.projects-container .projects-box {
    position: relative;
    border-radius: 2rem;
    overflow: hidden;
    display: flex;
    border: .2rem solid var(--second-main-color);
} */

.projects-container1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.projects-container1 .projects-box {
    position: relative;
    border-radius: 2rem;
    overflow: hidden;
    display: flex;
    border: .2rem solid var(--second-main-color);
}

.projects-container2 {
    width: 85%;
    margin-top: 2.5rem;
    padding-left: 17%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.projects-container2 .projects-box {
    position: relative;
    border-radius: 2rem;
    overflow: hidden;
    display: flex;
    border: .2rem solid var(--second-main-color);
}

.projects-box img {
    width: 100%;
    transition: 0.3s ease;
}

.projects-box:hover img {
    transform: scale(1.1);
}

.projects-box .projects-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.1), var(--second-bg-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: 0.5s ease;
}

.projects-box:hover .projects-layer {
    transform: translateY(0%);
}

.projects-layer h4 {
    font-size: 4rem;
    font-weight: 600;
    line-height: 4rem;
}

.projects-layer p {
    font-size: 2rem;
    margin: .3rem 0 1rem;
}

.projects-layer s {
    font-size: 1.5rem;
    margin: .3rem 0 1rem;
}

/* 
.projects-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--second-main-color);
    border-radius: 2rem;
} */

.projects-layer a {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: #fff;
    background: var(--second-main-color);
    border-radius: 1.5rem;
    padding: 1.5rem;
    /* width: 5rem;
    height: 5rem;
    align-items: center;
    justify-content: center; */
    font-size: 1.5rem;
    transition: 0.5s ease;
}
/* 
.projects-layer a i {
    font-size: 2rem;
    color: white;
    align-items: right;
    justify-content: right;
} */

.experience {
    background: var(--second-bg-color);
}